.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.p {
    padding: 10px 0;
    font-size: 16px;
    color:#313131;
    font-family: Arial, Helvetica, sans-serif;
}
